@use "variables" as var;
@use "mixins" as mix;
@use "sass:map";

:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  display: block;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  border-right: 0.15em solid var.$accent-color;
  font-size: 5.5rem;
  font-family: var.$secondary-font;
  font-weight: 700;
  min-height: 1.2em;
  animation: caret-blink 1s step-end infinite;

  &:empty {
    border-right: none;
  }

  @include mix.mobile {
    font-size: 3.5rem;
  }

  @keyframes caret-blink {

    0%,
    100% {
      border-color: transparent;
    }

    50% {
      border-color: var.$accent-color;
    }
  }
}

.main-text {
  width: 90%;
  max-width: 600px;
  text-align: center;
  color: var.$secondary-font-color;
  font-size: 1.4rem;
  line-height: 1.6rem;

  @include mix.mobile {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
}

.about {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var.$secondary-font-color;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  opacity: 1;
  transform: translateY(0);

  img {
    width: 22vw;
    min-width: 300px;
    transform: scaleX(-1);
  }

  p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-align: start;
    padding-left: var.$spacing-unit * 2;
    max-width: 400px;
    margin-bottom: calc(1.4rem + var.$spacing-unit * 5);
    position: relative;
    opacity: 1;
    transform: translateX(0);

    &::before,
    &::after {
      position: absolute;
      font-size: 1.2rem;
      left: 0;
      @include mix.gradient-text();
      font-family: var.$secondary-font;
    }

    &::before {
      content: "<span>";
      bottom: 100%;
    }

    &::after {
      content: "</span>";
      top: 100%;
    }
  }
}