@use "variables" as var;

$icon-size: 75px;

:host {
  width: $icon-size;
  height: $icon-size;
  padding: 0;

  .icon-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
    }

    .info {
      display: none;
      transform: rotateY(180deg);
      display: none;
      flex-direction: column;
      align-items: center;
      gap: .2rem;
      height: 100%;
      justify-content: center;
      font-size: .9rem;
    }

    &.flipped {
      img {
        display: none;
      }

      .info {
        display: flex;
      }
    }

    .stars {
      color: var.$accent-color;
    }
  }
}