@use "variables" as var;

:host>div {
  display: block;
  padding: var.$spacing-medium;
  max-width: 400px;
  overflow: hidden;

  p {
    color: var.$secondary-font-color;
  }

  &.collapsed {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    h3 {
      margin: 0;
    }
  }
}