@use "variables" as var;

:host > div {
  display: block;
  padding: var.$spacing-medium;
  max-width: 400px;
  overflow: hidden;

  p {
    color: var.$secondary-font-color;
  }

  .meta {
    font-size: 0.85rem;
    letter-spacing: 0.02em;
    opacity: 0.85;
    margin-bottom: 0.5rem;
  }

  &.collapsed {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    h3 {
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    h3 {
      margin: 0;
    }
  }
}