@use "variables" as var;

:host {
  width: 100%;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 60px);
  gap: var.$spacing-large;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding: 40px;
}