@use "variables" as var;

@mixin gradient-text() {
  background: -webkit-linear-gradient(var.$grad-start, var.$grad-end);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}