$primary-font-color: #ffffff;
$primary-font: 'League Spartan', sans-serif;
$secondary-font: 'Source Code Pro', monospace;
$spacing-unit: 0.4rem;
$accent-font-color: #32ffaa;

$background-color: #060A0D;
