<div>
  <app-section-header title="Work Experience"/>
  <div class="experiences" #workExperiencesList>
    @for (item of [0, 1, 2, 3]; track item) {
      <app-experience-card
        title="Role Title"
        description="empty"
        [collapsed]="selectedWorkIndex() !== item"
        (click)="selectedWorkIndex.set(item)"
      />
    }
  </div>
</div>
<div>
  <app-section-header title="Education"/>
  <div class="experiences" #educationExperiences>
    @for (item of [0, 1, 2, 3]; track item) {
      <app-experience-card
        title="Education Title"
        description="empty"
        [collapsed]="selectedEducationIndex() !== item"
        (click)="selectedEducationIndex.set(item)"
      />
    }
  </div>
</div>
