<div id="work-section">
  <app-section-header [title]="workTitle()" />
  <div class="experiences" #workExperiencesList>
    @for (item of workCards(); track $index; let idx = $index) {
      <app-experience-card
        [title]="item.title"
        [meta]="item.meta"
        [description]="item.description"
        [collapsed]="item.collapsed"
        (click)="selectedWorkIndex.set(idx)"
      ></app-experience-card>
    }
  </div>
</div>
<div>
  <app-section-header [title]="educationTitle()" />
  <div class="experiences" #educationExperiences>
    @for (item of educationCards(); track $index; let idx = $index) {
      <app-experience-card
        [title]="item.title"
        [meta]="item.meta"
        [description]="item.description"
        [collapsed]="item.collapsed"
        (click)="selectedEducationIndex.set(idx)"
      ></app-experience-card>
    }
  </div>
</div>
