<app-section-header title="Contact" />
<!-- <p class="secondary">Email is the fastest way to reach me.</p> -->

<div class="icons" #iconsContainer></div>

  <div class="desktop-container" #desktopContainer>
    <app-contact-icon
      src="icons/mail.svg"
      size="30px"
      cursorType="pointer"
      label="arturcmjr@gmail.com"
      [showLabel]="showLabel()"
    />
    <app-contact-icon
      src="icons/linkedin.svg"
      size="30px"
      cursorType="pointer"
      label="linkedin.com/in/arturcmjr"
      [showLabel]="showLabel()"
    />
    <app-contact-icon
      src="icons/github.svg"
      size="30px"
      cursorType="pointer"
      label="github.com/arturcmjr"
      [showLabel]="showLabel()"
    />
    <app-contact-icon
      src="icons/whatsapp.svg"
      size="30px"
      cursorType="pointer"
      label="wa.me/1234567890"
      [showLabel]="showLabel()"
    />
  </div>
