.experience-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.circular-svg {
  font-size: 14px;
  fill: #6b7280;
  letter-spacing: 2px;
  width: 95vw;
  // height: 100%;
}

.circular-text {
  font-size: .7rem;
}

.highlighted {
  fill: #10b981;
}

img.earth {
  position: absolute;
  top: 14px;
  left: 50%;
  width: 97%;
  filter: brightness(.5);
  transform: translateX(-50%);
}

.glass.content {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 50%;
  padding: 1rem;
}

.target-box {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 10vw;
  border: 2px dashed rgba(255, 0, 0, 0.5);
  pointer-events: none;
  z-index: 10;
}