:host {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: calc(100vw - 17px);
  }

  .filler {
    height: 500vh;
    max-width: 100%;
    overflow: hidden;
  }
}