@use 'mixins' as mixins;

:host {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1200px;
    padding: 2rem 1rem;
    box-sizing: border-box;
    gap: 3rem;

    @include mixins.mobile {
      grid-template-columns: 1fr;
      padding: 1rem;
      gap: 2rem;
    }
  }
}