@use 'mixins' as mixins;

:host {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 2rem 1rem;
    box-sizing: border-box;
    gap: 3rem;

    @include mixins.mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  .filler {
    height: 500vh;
    max-width: 100%;
    overflow: hidden;
  }
}