@use "variables" as vars;

:host {
  margin-bottom: 20vh;
}

.desktop-container {
  position: fixed;
  bottom: vars.$spacing-medium;
  left: vars.$spacing-medium;
  display: flex;
  gap: vars.$spacing-small;
  transition: opacity 0.5s ease, bottom 0.5s ease;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    bottom: -50px;
  }
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: vars.$spacing-small;
  margin: vars.$spacing-medium 0;
}