@use "variables" as var;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var.$background-color;
  color: var.$primary-font-color;
  font-family: var.$primary-font;
  overflow: hidden;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var.$grad-start, var.$grad-end);
  border-radius: 4px;
}